.idea/*
/Sample-Spring-Boot-Social-Kotlin/.gitignore
/Sample-Spring-Boot-Social-Kotlin/gradlew
/Sample-Spring-Boot-Social-Kotlin/gradlew.bat
/Sample-Spring-Boot-Social-Kotlin/gradle/*
/Study-Spring-Boot-Kafka-Kotlin/.gitignore
/Study-Spring-Boot-Kafka-Kotlin/gradlew
/Study-Spring-Boot-Kafka-Kotlin/gradlew.bat
/Study-Spring-Boot-Kafka-Kotlin/gradle/*
/Study-Spring-Boot-Kotlin/.gitignore
/Study-Spring-Boot-Kotlin/gradlew
/Study-Spring-Boot-Kotlin/gradlew.bat
/Study-Spring-Boot-Kotlin/gradle/*
/Study-Spring-Cloud-Config-Kotlin/.gitignore
/Study-Spring-Cloud-Config-Kotlin/gradlew
/Study-Spring-Cloud-Config-Kotlin/gradlew.bat
/Study-Spring-Cloud-Config-Kotlin/gradle/*
/Start-Syntax-Kotlin/.gitignore
/Start-Syntax-Kotlin/gradlew
/Start-Syntax-Kotlin/gradlew.bat
/Start-Syntax-Kotlin/gradle/*
/Sample-Spring-Boot-Apache-POI-Kotlin/.gitignore
/Sample-Spring-Boot-Apache-POI-Kotlin/gradlew
/Sample-Spring-Boot-Apache-POI-Kotlin/gradlew.bat
/Sample-Spring-Boot-Apache-POI-Kotlin/gradle/*
/Sample-Spring-Boot-Video-Streaming-Kotlin/.gitignore
/Sample-Spring-Boot-Video-Streaming-Kotlin/gradlew
/Sample-Spring-Boot-Video-Streaming-Kotlin/gradlew.bat
/Sample-Spring-Boot-Video-Streaming-Kotlin/gradle/*
/Sample-Spring-Cloud-LocalStack-Kotlin/.gitignore
/Sample-Spring-Cloud-LocalStack-Kotlin/gradlew
/Sample-Spring-Cloud-LocalStack-Kotlin/gradlew.bat
/Sample-Spring-Cloud-LocalStack-Kotlin/gradle/*
/Sample-Spring-Boot-JDSL-Kotlin/.gitignore
/Sample-Spring-Boot-JDSL-Kotlin/gradlew
/Sample-Spring-Boot-JDSL-Kotlin/gradlew.bat
/Sample-Spring-Boot-JDSL-Kotlin/gradle/*
/Sample-Spring-Boot-Jooq-Batch-Kotlin/.gitignore
/Sample-Spring-Boot-Jooq-Batch-Kotlin/gradlew
/Sample-Spring-Boot-Jooq-Batch-Kotlin/gradlew.bat
/Sample-Spring-Boot-Jooq-Batch-Kotlin/gradle/*
/Study-Web-Application-Server-Kotlin/gradlew
/Study-Web-Application-Server-Kotlin/gradlew.bat
/Study-Web-Application-Server-Kotlin/gradle/*
/Study-Web-Application-Server-Kotlin/.gradle/*
/Study-Web-Application-Server-Kotlin/.idea/*
/Study-Web-Application-Server-Kotlin/build/*
/Simple-Search-Engine-With-Kotlin/gradlew
/Simple-Search-Engine-With-Kotlin/gradlew.bat
/Simple-Search-Engine-With-Kotlin/gradle/*
/Simple-Search-Engine-With-Kotlin/.gradle/*
/Simple-Search-Engine-With-Kotlin/.idea/*
/Simple-Search-Engine-With-Kotlin/build/*